.testimonials_container {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    height: 500px;
}

@media screen and (max-width: 768px) {
    .testimonials_container {
        height: 400px;
    }
}