.title {
    font-family: 'Radley', serif;
    font-size: 44px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #222;
    text-align: center;
    margin-bottom: 30px;

}

.cardsWrapper {
    width: 1174px;
    position: relative;
    margin: 0 auto;
    height: 525px;
}

.cardsWrapper .card:nth-of-type(1) {
    top: 0;
    left: 0;
}

.cardsWrapper .card:nth-of-type(2) {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.cardsWrapper .card:nth-of-type(2):hover {
    transform: translateY(-20px) translateX(-50%) !important;
}


.cardsWrapper .card:nth-of-type(3) {
    top: 0;
    right: 0;
}

.card {
    width: 390px;
    height: 400px;
    padding: 40px 0;
    border: 1px solid #b4c5d6;
    cursor: pointer;
    z-index: 1;
    position: absolute;
    transition: all 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card:hover {
    width: 410px;
    height: 440px;
    bottom: 0px;
    z-index: 2;
    position: absolute;
    transform: translateY(-20px) !important;
    background-color: #A68B7C;
    border-radius: 4px;
    border-color: #A68B7C;
}

.card:hover .headerCard {
    color: #fff;
}

.card:hover .price p {
    color: #fff;
}

.card:hover h3 {
    color: #fff;
}

.card:hover ul {
    color: #fff;
}

.headerCard {
    font-family: 'Radley', serif;
    font-size: 14px;
    line-height: 24px;
    text-transform: uppercase;
    color: #222;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 24px;
}

.price {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    margin-bottom: 24px;
}

.price p {
    display: flex;
    font-weight: 600;
    color: #A68B7C;
}

.currency {
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 10px;
}

.extra {
    justify-content: flex-end;
    flex-direction: column;
    padding-bottom: 10px;
}

.number {
    font-size: 120px;
    font-weight: 700;
    line-height: 120px;
}

.card h3 {
    font-family: 'Radley', serif;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #222;
    text-align: center;
    margin-bottom: 30px;
}

.card ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #888;
}

.card ul > li {
    padding: 8px 0;
}

.footer {
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #888;
}

.footer > a {
    color: #A68B7C;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
}